<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-brand">Data Visualizer</div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary" (click)="onClick(event = 'bubble')">
            <input type="radio" name="sorter" id="bubble">Bubble Sort
        </label>
        <!-- <label class="btn btn-secondary" (click)="onClick(event = 'quick')">
            <input type="radio" name="sorter" id="quick">Quick Sort
        </label> -->
        <label class="btn btn-secondary" (click)="onClick(event = 'merge')">
            <input type="radio" name="sorter" id="merge">Merge Sort
        </label>
    </div>
</nav>